<div class="row">
<div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
              記事案
            </header>
            <div class="panel-body">
                <div class="position-center">

                  <%= form_for @list, url: admin_lists_path, html: {class: "form-horizontal"} do |f| %>
                    <% if @list.errors.any? %>
                      <div id="error_explanation">
                        <ul>
                        <% @list.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="form-group">
                      <label class="control-label">名前</label></br>
                        <div class="col-lg-8">
                            <%= f.text_field :name, class: "form-control" %>
                        </div>
                    </div>

                    <%= f.submit "Submit", class: "btn btn-info" %>
                  <% end %>
                </div>

            </div>
        </section>
        </div>
</div>
