<!-- page start-->
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                記事一覧
            </header>
            <div class="panel-body">
                <table class="table  table-hover general-table">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>タイトル</th>
                      <th>カテゴリ</th>
                      <th>プレビュー</th>
                      <th>記事案を自分の記事として書く</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @articles.each do |article| %>
                      <tr>
                          <td><%= article.id %></td>
                          <td><%= article.title %></td>
                          <td><%= article.try(:theme).try(:name) %></td>
                          <td>
                            <%= link_to article do %>
                              <span class="label label-primary label-mini btn-round">プレビュー</span>
                            <% end %>
                          </td>
                          <td>
                            <%= link_to idea_to_article_admin_lists_path(article_id: article.id) do %>
                              <span class="label label-info label-mini btn-round">自分の記事にする</span>
                            <% end %>
                          </td>
                      </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<!-- page end-->
