<div class="row">
  <div class="col-sm-8 articles-page-bar">
    <div class="page_entries_info">
      <%= paginate @lists %>
    </div>
  </div>
  <div class="col-sm-4 articles-page-bar">
    <div class="page_entries_info">
      <div class="article-pager-info">
        <%= page_entries_info @lists %>
      </div>
    </div>
  </div>
</div>

<%= link_to new_admin_list_path do %>
  <button class="btn btn-primary">
    記事案リストを追加 <i class="fa fa-plus"></i>
  </button></br></br>
<% end %>


<!-- page start-->
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                記事案リスト一覧
            </header>
            <div class="panel-body">
                <table class="table  table-hover general-table">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>名前</th>
                      <th>公開している人の数</th>
                      <th>記事案の数</th>
                      <th>詳細を見る</th>
                      <th>名前を変更する</th>
                      <th>削除</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @lists.each do |list| %>
                      <tr>
                          <td><%= list.id %></td>
                          <td><%= list.name %></td>
                          <td><%= list.users.count %></td>
                          <td><%= list.articles.count %></td>
                          <td>
                            <%= link_to admin_list_path(list) do %>
                              <span class="label label-primary label-mini btn-round">詳細</span>
                            <% end %>
                          </td>
                          <td>
                            <%= link_to edit_admin_list_path(list) do %>
                              <span class="label label-info label-mini btn-round">名前を変更</span>
                            <% end %>
                          </td>
                          <td>
                            <%= link_to admin_list_path(list), method: :delete, data: { confirm: 'Are you sure?' } do %>
                              <span class="label label-danger label-mini btn-round">削除</span>
                            <% end %>
                          </td>
                      </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<!-- page end-->
