
<div class="row">
<div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
              この記事案リストを見せるユーザー
            </header>
            <div class="panel-body">
                <div class="position-left">
                  <%= form_for @list, url: add_user_admin_list_path, html: {class: "form-horizontal"} do |f| %>
                    <% if @list.errors.any? %>
                      <div id="error_explanation">
                        <ul>
                        <% @list.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="form-group">
                      <div class="col-lg-6">
                          <%= f.collection_select :users, User.all, :id, :name,  {prompt: "ユーザーを追加"}, {class: "form-control"} %>
                        <%= f.submit "追加", class: "btn btn-info" %>
                      </div>
                    </div>
                    </div>
                  <% end %>
                </div>

                <table class="table  table-hover general-table">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>name</th>
                      <th>email</th>
                      <td>リストから外す</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% @list.users.each do |user| %>
                      <tr>
                        <td><%= user.id %></td>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td>
                          <%= link_to delete_user_admin_list_path(user_id: user), method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <span class="label label-danger label-mini btn-round">外す</span>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                </table>


            </div>
        </section>
        </div>
</div>


<div class="row">
  <div class="col-sm-8 articles-page-bar">
    <div class="page_entries_info">
      <%= paginate @articles %>
    </div>
  </div>
  <div class="col-sm-4 articles-page-bar">
    <div class="page_entries_info">
      <div class="article-pager-info">
        <%= page_entries_info @articles %>
      </div>
    </div>
  </div>
</div>

<!-- page start-->
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                記事案の記事一覧
            </header>
            <div class="panel-body">

              <div class="position-left">
                <%= form_for @list, url: add_article_admin_list_path, html: {class: "form-horizontal"} do |f| %>
                  <% if @list.errors.any? %>
                    <div id="error_explanation">
                      <ul>
                      <% @list.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="form-group">
                      <div class="col-lg-6">
                        <%= f.collection_select :articles, Article.until_idea, :id, :title,  {prompt: "記事を追加"}, {class: "form-control"} %>
                        <%= f.submit "追加", class: "btn btn-info" %>
                      </div>
                  </div>
                <% end %>
              </div>


                <table class="table  table-hover general-table">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>タイトル</th>
                      <th>リストから外す</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @articles.each do |article| %>
                      <tr>
                        <td><%= article.id %></td>
                        <td><%= article.title %></td>
                        <td>
                          <%= link_to delete_article_admin_list_path(article_id: article), method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <span class="label label-danger label-mini btn-round">外す</span>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<!-- page end-->
