<body class="login-body">

  <div class="container">

    <%= form_tag sessions_path, class: "form-signin" do %>
      <h2 class="form-signin-heading">sign in now</h2>
      <div class="login-wrap">
          <div class="user-login-info">
              <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email" %>
              <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %>
          </div>
          <label class="checkbox">
              <%= check_box_tag :remember_me, 1, params[:remember_me] %> Remember me
              <span class="pull-right">

              </span>
          </label>
          <%= submit_tag "Sing in", class: "btn btn-lg btn-login btn-block" %>
      </div>
    <% end %>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-success" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->
  </div>
  <!-- Placed js at the end of the document so the pages load faster -->


</body>
