<body class="login-body">

  <div class="container">

    <%= form_tag create_acount_sessions_path, class: "form-signin" do %>
      <h2 class="form-signin-heading">アカウント作成</h2>
      <div class="login-wrap">
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
          <div class="user-login-info">
              <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email" %>
              <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %>
              <%= password_field_tag :password_confirmation, "", class: "form-control", placeholder: "Passwordをもう一度入力" %>
          </div>
          <label class="checkbox">
              <span class="pull-right">
              </span>
          </label>
          <%= submit_tag "アカウント作成", class: "btn btn-lg btn-login btn-block" %>
    <% end %>
          <label>または</label>
          <a href='/auth/twitter'>
            <div class="btn btn-lg btn-info btn-block">twitterで登録</div>
          </a>
      </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-success" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->
  </div>
  <!-- Placed js at the end of the document so the pages load faster -->


</body>
