@import "../setting";

.layout_container {
  background-color: $light-gray;
  .children_component {
    @include outer-container(100%);
    background-color: $intercom-background;
    top: 2px;
    margin-left: 60px;
    padding: 13px 15px 15px 15px;
    position: relative;
  }
}
