.messages_container {
  @include fill-parent();
  @include row(table);
  .message_list {
    @include span-columns(4);
    border: solid 1px #E6EDF1;
    .card {
      border-style: solid;
      border-width: 0 0 1px;
      border-color: #E6EDF1;
      padding: 10px;
      .thumbnail {
        vertical-align: middle;
      }
      .card_title {
        vertical-align: middle;
      }
    }
    //
    .card:hover {
      background-color: #f8fafb;
    }
  }
  .board {
    @include span-columns(8);
    border: solid 1px #E6EDF1;
    background-color: $intercom-background;
  }
}
