@mixin box-shadow($offset-x, $offset-y, $blur-radius, $color) {
  // -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: $offset-x $offset-y $blur-radius $color;
     -moz-box-shadow: $offset-x $offset-y $blur-radius $color;
      -ms-box-shadow: $offset-x $offset-y $blur-radius $color;
       -o-box-shadow: $offset-x $offset-y $blur-radius $color;
          box-shadow: $offset-x $offset-y $blur-radius $color;
}
