<div class="container col-lg-12 articles-controller" ng-controller="ArticlesController">
  <section class="panel">
    <header class="panel-heading">
        記事作成
          <div class="btn-group pull-right register_button_group" data-toggle="buttons">
            <button type="submit" class="btn btn-primary" ng-click="saveArticle()">保存</button>
            <button type="submit" class="btn btn-primary" ng-click="previewArticle()">プレビュー</button>
          </div>
    </header>
    <div class="panel-body">

      <div class="position-center">

        <div class="form-group">
          <input ng-model="article.title" class="form-control" placeholder="タイトル(必須)">
        </div>
        <div class="form-group">
          <textarea ng-model="article.description" class="form-control" placeholder="説明文（必須）推奨100~150字" rows="5"></textarea>
        </div>
        <div class="panel-body">
          <div class="form-group" ng-show="article.main_image != null" ng-dblclick="article.main_image = null">
            <img ng-src="{{article.main_image}}">
          </div>
          <div class="form-group" ng-show="article.thumbnail_image != null" ng-dblclick="article.thumbnail_image = null">
            <img ng-src="{{article.thumbnail_image}}">
          </div>
          <div id="drop" ng-hide="article.main_image != null || article.thumbnail_image != null">
            <div aria-label="photo upload" ngf-select ngf-change="uploadCropImage($files)" ng-model="files" class="upload-button" ngf-multiple="false" ng-model-rejected="rejFiles" tabindex="0">
            <a href="#myModal" data-toggle="modal" class="btn btn-primary" id="myModalClick">
              トップ画像をアップロード
            </a>
            </div>
          </div>
          <div ng-hide="article.main_image != null || article.thumbnail_image != null" class="input-group m-bot15">
            <input class="form-control" type="text" ng-model="tmpImageUrl" value="" placeholder="または画像のURLでアップロード"/>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" ng-click="uploadCropImageUrl(tmpImageUrl, 'myModalClick')">アップロード</button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label>カテゴリ(必須)</label>
          <select ng-model="article.category_id" ng-options="category.id as category.name for category in categories" class="form-control" required>
            <option value="">カテゴリを選択</option>
          </select>
        </div>
        <div class="form-group">
          <label>サブカテゴリ(任意)</label>
          <select ng-model="article.theme_id" ng-options="theme.id as theme.name for theme in themes" class="form-control">
            <option value="">サブカテゴリを選択</option>
          </select>
        </div>
        <div class="form-group">
          <tags-input ng-model="article.references" class="my-multi-form" placeholder="記事の引用先のURL(複数入力可能)">
          </tags-input>
        </div>
        <div class="form-group">
          <tags-input ng-model="article.tag_list" class="my-multi-form" placeholder="関連キーワード(複数入力してください)" min-length="1">
            <auto-complete source="loadTags($query)" min-length="1"></auto-complete>
          </tags-input>
        </div>
      </div>

      <div class="btn-row">
        <div class="btn-group" data-toggle="buttons">
          <button class="btn btn-info" ng-click='addContent("headline")'>見出し</button>
          <button class="btn btn-info" ng-click='addContent("sub_headline")'>小見出し</button>
          <button class="btn btn-info" ng-click='addContent("text")'>文章</button>
          <button class="btn btn-info" ng-click='addContent("reference")'>引用</button>
          <button class="btn btn-info" ng-click='addContent("image")'>画像</button>
          <button class="btn btn-info" ng-click='addContent("youtube")'>YouTube</button>
          <button class="btn btn-info" ng-click='addContent("instagram")'>Instagram</button>
          <button class="btn btn-info" ng-click='addContent("twitter")'>Twitter</button>
          <button class="btn btn-info" ng-click='addContent("trivia")'>クイズ</button>
          <button class="btn btn-info" ng-click='addContent("personality")'>診断</button>
        </div>
      </div>
    </div>
  </section>

  <ul ui-sortable="sortableOptions" ng-model="article.contents.objects" class="">
    <li ng-repeat="content in article.contents.objects" class="content">
      <type-of class="content"></type-of>
    </li>
  </ul>


<!-- モーダル -->
  <!-- メイン画像 -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">写真の切り抜き</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div ng-hide="article.main_image != null" class="form-group">
                  <label>メイン写真</label>
                  <div ng-if="dataUrl" class="img-container">
                    <img ng-if="dataUrl" ng-src="{{dataUrl}}" ng-cropper ng-show="{{showEvent}}" ng-hide="{{hideEvent}}" ng-options="mainImageOptions">
                  </div>
                  <button ng-hide="article.main_image != null || dataUrl == null" class="btn btn-info" ng-click="saveMainCropImage()">save</button>
                </div>
                <div ng-hide="article.thumbnail_image != null" class="form-group">
                  <label>サムネイル写真</label>
                  <div ng-if="dataUrl" class="img-container">
                      <img ng-if="dataUrl" ng-src="{{dataUrl}}" ng-cropper ng-show="{{showEvent}}" ng-hide="{{hideEvent}}" ng-options="thumbImageOptions">
                  </div>
                  <button ng-hide="article.thumbnail_image != null || dataUrl == null" class="btn btn-info" ng-click="saveThumbCropImage()">save</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>

  <!-- 質問の画像-->
    <div aria-hidden="true" aria-labelledby="question3ModalLabel" role="dialog" tabindex="-1" id="questionModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
              <h4 class="modal-title">写真の切り抜き</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div ng-hide="dataUrl == null" class="form-group">
                <label>メイン写真</label>
                <div ng-if="dataUrl" class="img-container">
                  <img ng-if="dataUrl" ng-src="{{dataUrl}}" ng-cropper ng-show="{{showEvent}}" ng-hide="{{hideEvent}}" ng-options="questionImageOptions">
                </div>
                <button ng-hide="dataUrl == null || dataUrl == null" class="btn btn-info" ng-click="saveQuestionCropImage()">save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  <!-- 回答の3カラムの画像 -->
    <div aria-hidden="true" aria-labelledby="question3ModalLabel" role="dialog" tabindex="-1" id="answer3columnModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">写真の切り抜き</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div ng-hide="dataUrl == null" class="form-group">
                  <label>メイン写真</label>
                  <div ng-if="dataUrl" class="img-container">
                    <img ng-if="dataUrl" ng-src="{{dataUrl}}" ng-cropper ng-show="{{showEvent}}" ng-hide="{{hideEvent}}" ng-options="answer3ImageOptions">
                  </div>
                  <button ng-hide="dataUrl == null || dataUrl == null" class="btn btn-info" ng-click="saveAnswer3CropImage()">save</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>

  <!-- 回答の3カラムの画像 -->
    <div aria-hidden="true" aria-labelledby="question2ModalLabel" role="dialog" tabindex="-1" id="answer2columnModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">写真の切り抜き</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div ng-hide="dataUrl == null" class="form-group">
                  <label>メイン写真</label>
                  <div ng-if="dataUrl" class="img-container">
                    <img ng-if="dataUrl" ng-src="{{dataUrl}}" ng-cropper ng-show="{{showEvent}}" ng-hide="{{hideEvent}}" ng-options="answer2ImageOptions">
                  </div>
                  <button ng-hide="dataUrl == null || dataUrl == null" class="btn btn-info" ng-click="saveAnswer2CropImage()">save</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>

<!-- angularここまで -->
</div>

<!-- youtubeのurl -->
<script src="https://www.youtube.com/iframe_api"></script>
<script>
  autosize(document.querySelectorAll('textarea'));
</script>
