<div class="row">
  <div class="col-sm-8 articles-page-bar">
    <div class="page_entries_info">
      <%= paginate @articles %>
    </div>
  </div>
  <div class="col-sm-4 articles-page-bar">
    <div class="page_entries_info">
      <div class="article-pager-info">
        <%= page_entries_info @articles %>
      </div>
    </div>
  </div>
</div>

<div class="panel-body">
    <div class="position-left">
      <%= form_for @article, url: add_attention_admin_articles_path, html: {class: "form-horizontal"} do |f| %>
        <% if @article.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @article.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <div class="col-lg-6">
            <%= f.collection_select :id, Article.all, :id, :title,  {prompt: "記事を追加"}, {class: "form-control"} %>
            <%= f.submit "追加", class: "btn btn-info" %>
          </div>
        </div>
        </div>
    <% end %>
</div>


<!-- page start-->
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                注目記事一覧(目立たせることができる)
            </header>
            <div class="panel-body">
                <table class="table  table-hover general-table">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>タイトル</th>
                      <th>ステータス</th>
                      <th>公開日</th>
                      <th>削除</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @articles.each do |article| %>
                      <tr>
                          <td><%= article.id %></td>
                          <td><%= article.title %></td>
                          <td><%= article.status %></td>
                          <td><%= article.published_at %></td>
                          <td>
                            <%= link_to delete_attention_admin_article_path(article.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                              <span class="label label-danger label-mini btn-round">外す</span>
                            <% end %>
                          </td>
                      </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<!-- page end-->
