<div class="row">
  <div class="col-sm-8 articles-page-bar">
    <div class="page_entries_info">
      <%= paginate @articles %>
    </div>
  </div>
  <div class="col-sm-4 articles-page-bar">
    <div class="page_entries_info">
      <div class="article-pager-info">
        <%= page_entries_info @articles %>
      </div>
    </div>
  </div>
</div>


<!-- page start-->
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                記事一覧
            </header>
            <div class="panel-body">
                <table class="table  table-hover general-table">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>タイトル</th>
                      <th>カテゴリ</th>
                      <% unless current_user.writer? %>
                        <th>ライター</th>
                        <th>ステータス</th>
                      <% end %>
                      <th>プレビュー</th>
                      <% unless current_user.writer? %>
                        <th>画像挿入待ち記事に移動</th>
                      <% end %>
                      <th>編集する</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @articles.each do |article| %>
                      <tr>
                          <td><%= article.id %></td>
                          <td><%= article.title %></td>
                          <td><%= article.try(:category).try(:name) %></td>
                          <% unless current_user.writer? %>
                            <td><%= article.user.email if article.user.present? %></td>
                            <td><%= article.status %></td>
                          <% end %>
                          <td>
                            <%= link_to article do %>
                              <span class="label label-primary label-mini btn-round">プレビュー</span>
                            <% end %>
                          </td>
                          <% unless current_user.writer? %>
                            <td>
                              <%= link_to to_without_image_admin_article_path(article), method: :post do %>
                                <span class="label label-success label-mini btn-round">画像挿入待ち</span>
                              <% end %>
                            </td>
                          <% end %>
                          <td>
                            <%= link_to edit_admin_article_path(article) do %>
                              <span class="label label-info label-mini btn-round">編集</span>
                            <% end %>
                          </td>
                      </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<!-- page end-->
