<div id="article-page">
<article class="article">
  <div class="main-image">
    <%= image_tag(@article.main_image) %>
  </div>
  <div class="main">
    <h1>
      <%= @article.title %>
    </h1>
    <div>
      <p>
        <%= simple_format(@article.description) %>
      </p>
    </div>
    <% @article.contents["objects"].each do |content| %>
      <div class="article-content">
        <%= show_content(content) %>
      </div>
    <% end %>
  </div>
</article>
</div>


<div class="article-footer-share-fixed">
  <ul class="c-line share-line" data-tap-list="">
    <li class="share-item">
      <a class="share-btn share-btn-facebook c-btn" id="fb-share" target="_blank">
        <i class="c-ico c-ico--facebookShare-small"></i>
        <span>シェア</span>
      </a>
    </li>
    <li class="share-item">
      <a class="share-btn share-btn-twitter c-btn" href="http://twitter.com/share?url=<%= article_url %>&text=<%= @article.title %>&via=qolony0" target="_blank">
        <i class="c-ico c-ico--twitterShare-small"></i>
        <span>ツイート</span>
      </a>
    </li>
    <li class="share-item">
      <a class="share-btn share-btn-line c-btn" href="http://line.me/R/msg/text/?<%= @article.title + " " + article_url %>">
        <i class="c-ico c-ico--lineShare-small"></i>
        <span>送る</span>
      </a>
    </li>
    <li class="share-item c-line__item share-fb-like">
      <div class="fb-like" data-href="https://www.facebook.com/qolony" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
    </li>
  </ul>
</div>
<div id="fb-root"></div>

<script src='http://connect.facebook.net/ja_JP/all.js'></script>
<script>
  // facebook like button
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=465680123608785&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // facebook like ここまで
  // ここからfacebook share (development環境は動かない)
  FB.init({appId: "<%= Rails.application.secrets.fb_app_id %>", status: true, cookie: true});
  // calling the API ...
  $('#fb-share').click(function(e){
    e.preventDefault();
    var obj = {
      method: 'feed',
      // display: 'dialog',
      display: "touch",
      ref: "mobile_share",
      link: document.location.href,
      picture: '<%= @article.main_image %>',
      name: '<%= @article.title %>',
      caption: 'www.qolony.jp',
      description: '<%= @article.description.gsub(/\r\n|\r|\n/, "<br />") %>'
    };
    function callback(response) {
      if(response){
        window.close();
        document.location.href = document.location.href;
      }
    }
    FB.ui(obj, callback);
  });
</script>
