<div class="container" ng-controller="ArticlesController">
  <md-content>
    <md-card>
      <md-card-content>
        <div layout="column">
          <md-input-container flex>
            <label>タイトル</label>
            <input ng-model="title" placeholder="推奨35文字程度">
          </md-input-container>
          <md-input-container flex>
            <label>説明文</label>
            <textarea ng-model="description" columns="1" md-maxlength="150" placeholder="推奨100~150字"></textarea>
          </md-input-container>
          <h2 ng-hide="editingTheme == true" ng-dblclick="editTheme()" class="md-raised">{{theme.name}}</h2>
          <md-autocomplete ng-show="editingTheme == true" md-selected-item="selectedItem" ng-keydown="decideTheme($event)" md-search-text="searchText" md-items="item in uerySearch(searchText)" md-item-text="item.display" placeholder="テーマ">
            <span md-highlight-text="searchText">{{item.display}}</span>
          </md-autocomplete>
        </div>
      </md-card-content>
      <md-card-content>
        <section layout="row" layout-sm="column" layout-align="center center">
          <md-button class="md-raised" ng-click='addContent("headline")'>見出し</md-button>
          <md-button class="md-raised" ng-click='addContent("text")'>本文</md-button>
          <md-button class="md-raised" ng-click='addContent("reference")'>引用</md-button>
          <md-button class="md-raised" ng-click='addContent("photo")'>画像</md-button>
        </section>
      </md-card-content>
    </md-card>

    <div class="floatleft">
      <ul ui-sortable="sortableOptions" ng-model="contents" class="list-unstyled">
        <li ng-repeat="content in contents" class="content">
          <type-of></type-of>
        </li>
      </ul>
    </div>

    <md-card>
      <div layout="row" layout-align="center center">
      <md-button type="submit" class="md-raised" ng-click="saveArticle('draft')">下書きを保存</md-button>
      <md-button type="submit" class="md-raised" ng-click="saveArticle('publish')">公開</md-button>
      <md-button type="submit" class="md-raised" ng-click="saveArticle('preview')">プレビュー</md-button>
      </div>
    </md-card>
  <md-content>

</div>
