<h1>settings</h1>
<ul>
  <li>
    アカウント設定
  </li>
  <li>
    ワークフロー
  </li>
  <li>
    インテグレーション
  </li>
  <li>
    チームメンバーの設定(権限、タグ)
  </li>
  <li>
    リアルタイムレポート
  </li>
  <li>
    ヒストリカルレポート
  </li>
  <li>
    電話番号取得
  </li>
  <li>
    課金ページ
  </li>
</ul>
