<!-- <a href="http://jquery.com/">jQuery</a> -->
<!-- <script src="jquery.js"></script> -->
<script type="text/javascript"
 src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>
  $().ready(function() { window.close(); });
</script>
