
/*! 記事ページ */

#article-page {
  article.article {
    main写真は余白なし
    .main-image {
    }
    .main {
      padding: 0 10px;

      // youtube responsive
      .youtube-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
      }

      .youtube-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

    }
  }

}
