.articles-controller {
  img {
    max-width: 200px;
  }
  #drop {
    margin-bottom: 10px;
  }
  .register_button_group {
    margin-top: -8px;
  }
}

// クイズを追加など右に寄せる
.short-number-culumn {
  width: 65px !important;
  display: table-cell !important;
}

.add-result-button {
  margin-top: 15px;
  float: right;
}




// tagの複数選択formの部分
.my-multi-form .host .tags {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
