// コア、影響範囲が全体に及ぶ部分
// 絶対コメントは書くこと

// 文字折り返し
html, body {
  word-wrap: break-word;
  /* height: 100%; */
}

// imageのサイズ
img {
  max-width: 100%;
  height: auto;
}

ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
