
//ダッシュボードのスタイル
.tabsdemoStaticTabs {
  /*
  * Animation styles
  */ }
  .tabsdemoStaticTabs .sample {
    height: auto; }
  .tabsdemoStaticTabs #tab1-content {
    background-color: #3F51B5; }
  .tabsdemoStaticTabs #tab2-content {
    background-color: #673AB7; }
  .tabsdemoStaticTabs #tab3-content {
    background-color: #00796B; }
  .tabsdemoStaticTabs #tab4-content {
    background-color: #cf3acc; }
  .tabsdemoStaticTabs #tab5-content {
    background-color: #cac638; }
  .tabsdemoStaticTabs .tabpanel-container {
    display: block;
    background: white;
    border: 0px solid black;
    height: 100%;
    ul {
      li { div {
          word-wrap: break-word;
          display: -webkit-box;
      }}
    }
  }
  .tabsdemoStaticTabs [role="tabpanel"] {
    color: white;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave.ng-leave-active, .tabsdemoStaticTabs [role="tabpanel"].ng-enter {
    top: -300px; }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave, .tabsdemoStaticTabs [role="tabpanel"].ng-enter.ng-enter-active {
    top: 0; }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave {
    z-index: 100; }
  .tabsdemoStaticTabs .tabpanel-container [role="tabpanel"] {
    padding: 20px; }
  .tabsdemoStaticTabs .after-tabs-area {
    padding: 25px; }
  .tabsdemoStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }
  .tabsdemoStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0px; }
  .tabsdemoStaticTabs .md-header {
    background-color: #1976D2 !important; }
  .tabsdemoStaticTabs md-tab {
    color: #90caf9 !important; }
  .tabsdemoStaticTabs md-tab.active, .tabsdemoStaticTabs md-tab:focus {
    color: white !important; }
  .tabsdemoStaticTabs md-tab[disabled] {
    opacity: 0.5; }
  .tabsdemoStaticTabs .md-header .md-ripple {
    border-color: #FFFF8D !important; }
  .tabsdemoStaticTabs md-tabs-ink-bar {
    background-color: #FFFF8D !important; }
  .tabsdemoStaticTabs md-tabs .md-paginator {
    color: white; }


.tabpanel-content {
  list-style: none;
  div {
    img {
    }
  }
}
