/* トップページのcss */
#top-page {
  section.article-list {

    ul {
      padding:0;

      li {
        list-style-type: none;

        a {
          display: block;
          color:inherit;
          text-decoration: none;
          position: relative;

          div.list_thumb {
            img {
            }
          }

          div.list_content {
            // background-color: rgba(12,187,182, 0.7);
            position: absolute;
            bottom: 0;
            padding: 5px 10px;

            h1 {
              color: #fff;
              margin: 0;
              font-size: 1.3em
            }
          }
        }
      }
    }
  }
}
