
/*! シェアページ */
.article-footer-share-fixed {
  position: fixed;
  bottom: 0px;
  clear: both;
  background-color: #fff;
  padding: 5px 15px;
  z-index: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* mobileの記事ページのSNS一覧(固定) */
.share-line {
  display: table;
  width: 100%;
  table-layout: fixed;
  /* list-style: none; */
  .share-item {
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    a.share-btn-facebook {
      display: block;
    }
    a.share-btn-twitter {
      display: block;
    }
    a.share-btn-line {
      display: block;
    }
    a {
      text-decoration: none;
      width: 100%;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      span {
        vertical-align: middle;
        margin: 0;
        padding: 0;
        border: 0;
      }
    }
  }
}

/* ソーシャルボタンの色 */
.share-btn-facebook {
  background-color: #3b5998;
}
.share-btn-twitter {
  background-color: #55acee;
}
.share-btn-line {
  background-color: #00c300;
}
.share-fb-like {
  width: 84px;
  text-align: right;
}
.share-btn {
  padding: 9px 0;
  height: 35px;
  color: #fff;
  font-size: 10px;
}
.c-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.c-ico {
  display: inline-block;
  vertical-align: middle;
}
.c-ico--facebookShare-small {
  background-image: url(/icons/spritesheet-20150319110349.png);
  -webkit-background-size: 248px 223px;
  background-size: 248px 223px;
  background-position: -219px -176px;
  width: 9px;
  height: 17px;
}
.c-ico--twitterShare-small {
  background-image: url(/icons/spritesheet-20150319110349.png);
  -webkit-background-size: 248px 223px;
  background-size: 248px 223px;
  background-position: -230px -176px;
  width: 17px;
  height: 17px;
}
.c-ico--lineShare-small {
  background-image: url(/icons/spritesheet-20150319110349.png);
  -webkit-background-size: 248px 223px;
  background-size: 248px 223px;
  background-position: -64px -206px;
  width: 16px;
  height: 17px;
}
