/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-navigation-zendesk-name: 'sprite-navigation-zendesk';
$sprite-navigation-zendesk-x: 0px;
$sprite-navigation-zendesk-y: 0px;
$sprite-navigation-zendesk-offset-x: 0px;
$sprite-navigation-zendesk-offset-y: 0px;
$sprite-navigation-zendesk-width: 24px;
$sprite-navigation-zendesk-height: 504px;
$sprite-navigation-zendesk-total-width: 24px;
$sprite-navigation-zendesk-total-height: 504px;
$sprite-navigation-zendesk-image: 'https://s3-ap-northeast-1.amazonaws.com/qolony/navigation-zendesk.png';
$sprite-navigation-zendesk: (0px, 0px, 0px, 0px, 24px, 504px, 24px, 504px, 'https://s3-ap-northeast-1.amazonaws.com/qolony/navigation-zendesk.png', 'sprite-navigation-zendesk', );
$spritesheet-width: 24px;
$spritesheet-height: 504px;
$spritesheet-image: 'https://s3-ap-northeast-1.amazonaws.com/qolony/navigation-zendesk.png';
$spritesheet-sprites: ($sprite-navigation-zendesk, );
$spritesheet: (24px, 504px, 'https://s3-ap-northeast-1.amazonaws.com/qolony/navigation-zendesk.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
