// 文字折り返し
html {
  font-size: 6.25%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-size: 14rem;
  word-wrap: break-word;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  // display: block;
  height: auto;
}
a {
  text-decoration: none;
}
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// zendeskのんパクッた
button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
label, input, button, select, textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
input[type="text"], input[type="password"], input[type="number"], input[type="url"], input[type="email"], textarea {
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  box-shadow: inset 0 0 1px 0 #DDD;
  padding: 5px;
}


// これでfloatを解除できる
.clearfix:after{
  content: "";
  clear: both;
  display: block
}

// 縦いっぱいに要素を広げるために
.max_height {
  height: 100%;
}
