// タイトルの黒
$black1: #303030;
// 文字の黒
// $black2: #333333;

$white: #fff;
// 基本文字色らしい
$black2: #262a2b;

$hover-gray: #e2e4e4;
// h2の背景の色
$light-gray: #EFF0F1;
// referenceのグレー
$dark-light-gray: #808c91;
// 囲む線とか
$blue-light-gray: #acbdc4;
// 今日のランキングの部分の背景
$blue-green: #00b38f;

$blue-green-hover: #008066;

$wrong-red: #bf0026;

$quiz-hover: #ccf0e9;
$quiz-border: #00a685;

$hatebu: #00a2e8;
$hatebu-hover: #007fb5;
$facebook: #3c5a98;
$facebook-hover: #293e63;
$twitter: #3eadee;
$twitter-hover: #3086b8;
$line: #58b70b;
$line-hover: #408508;

// カラーパレットにあった水色(不安)
$light-blue: #50bde5;
// asanaのサイドバーの青
// $menu-blue: #215585;
$asana-dark-blue: #2E3C54;
// $asana-light-blue: #1AAFD0;
$asana-light-blue: #2DD7E1;
$asana-purple: #A177FF;
// $asana-purple: #7053B1;
// ff0000
$asana-orange: #FC636B;

$gray-blue: #d3dde7;

// グレーの上の黒
$pc-gray: #575e5d;

$intercom-border: #c9d7df;
$intercom-background: #f0f4f7;
