@import "../../sprite";
@import "../../setting";

.incoming_phone_component {
  .accept_button {
    @include button($asana-light-blue);
    color: $white;
  }
  .decline_button {
    @include button($asana-orange);
  }
}
