@import "../../sprite";
@import "../../setting";
@import "../../mixins/card_mixin";

.phone_component {
  @include span-columns(4);
  @include card;
  padding: 15px;
  background-color: $gray-blue;
  // background-color: #e4eaf0;

  .dialed_number_wrapper {
    border: 1px solid #CECECE;
    width: 255px;
    height: 30px;
    background-color: $white;
    margin: 2px auto 4px;
    .country_select {
      float: left;
      width: 45px;
      text-align: left;
      height: 30px;
    }
    .dialed_number {
      padding: 5px;
      height: 28px;
      border: none;
      float: left;
      width: 170px;
      box-shadow: none;
    }
    .dialed_number:focus  {
      border: none;
      border-color: #527000;
      box-shadow: 0 0 3px #78A300;
      outline: thick none;
    }
    .backspace_wrapper {
      height: 30px;
      width: 30px;
      float: right;
      cursor: pointer;
      .backspace_button {
      }
    }
  }
  .phone_number_buttons {
    @include outer-container();
    .phone_number_button {
      // background-color: $light-gray;
      background-color: $white;
      cursor: pointer;
      margin-top: 5px;
      // border-bottom: 5px solid white;
      text-align: center;
      font-size: 20px;
      @include span-columns(4);
      @include omega(3n);
    }
  }
  .outbound_button {
    @include span-columns(12);
    @include button($asana-light-blue);
    color: $white;
    margin-top: 15px;
  }
  // 使ってない
  .disconnect_button {
    @include button($asana-orange);
  }
}
