<div class="row">
  <div class="col-sm-8 articles-page-bar">
    <div class="page_entries_info">
      <%= paginate @users %>
    </div>
  </div>
  <div class="col-sm-4 articles-page-bar">
    <div class="page_entries_info">
      <div class="article-pager-info">
        <%= page_entries_info @users %>
      </div>
    </div>
  </div>
</div>

<%= link_to new_admin_user_path do %>
  <button class="btn btn-primary">
    ライターを追加 <i class="fa fa-plus"></i>
  </button></br></br>
<% end %>

<!-- page start-->
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
              ライター管理
            </header>
            <div class="panel-body">
                <table class="table  table-hover general-table">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>名前</th>
                      <th>メール</th>
                      <th>権限</th>
                      <th>書いた記事リスト</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @users.each do |user| %>
                      <tr>
                          <td><%= user.id %></td>
                          <td><%= user.name %></td>
                          <td><%= user.email %></td>
                          <td><%= user.status %></td>
                          <td>
                            <%= link_to user_admin_articles_path(user_id: user.id) do %>
                              <span class="label label-primary label-mini btn-round">記事一覧</span>
                            <% end %>
                          </td>
                      </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<!-- page end-->
