
<div class="row">
<div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
              ライターを追加
            </header>
            <div class="panel-body">
                <div class="position-center">

                  <%= form_for @user, url: admin_users_path, html: {class: "form-horizontal"} do |f| %>
                    <% if @user.errors.any? %>
                      <div id="error_explanation">
                        <ul>
                        <% @user.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="form-group">
                      <label class="control-label">Email</label></br>
                        <div class="col-lg-8">
                            <%= f.text_field :email, class: "form-control" %>
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Name</label></br>
                        <div class="col-lg-8">
                            <%= f.text_field :name, class: "form-control" %>
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">password</label></br>
                        <div class="col-lg-8">
                            <%= f.password_field :password, class: "form-control" %>
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">確認のためpasswordをもう一度入力</label></br>
                        <div class="col-lg-8">
                            <%= f.password_field :password_confirmation, class: "form-control" %>
                        </div>
                    </div>


                    <%= f.submit "Submit", class: "btn btn-info" %>
                  <% end %>
                </div>

            </div>
        </section>
        </div>
</div>
