@import "../setting";

.activity_component {
  @include outer-container;
  @include span-columns(8);
  max-height: 100%;
  overflow: scroll;
  >.side {
    @include span-columns(2);
    >.add_button {
      @include button($asana-light-blue);
      color: $white;
    }
  }
  >.timeline {
    @include span-columns(10);
    >.card {
      background-color: $white;
      border: 1px solid $intercom-border;
      border-radius: 3px;
      box-sizing: border-box;
      box-shadow: 0 0 0 transparent;
      transition: box-shadow linear .04s,border-color linear .2s;
      position: relative;
      margin-bottom: 15px;
      >.upper_part {
        padding: 16px 16px 8px;
        >* {
          vertical-align: middle;
        }
        >.thumbnail {
          margin-right: 16px;
        }
        >.date {
          float: right;
        }
      }
      >.lower_part {
        padding: 16px 16px 8px;
        bottom: 0;
        >.remove_button {
          @include button($asana-orange);
        }
      }
    }
  }
}
