@import "../sprite";
@import "../setting";
@import "../mixins/box_shadow_mixin";

.header_component {
  @include box-shadow(0, 1px, 3px, rgba(0,0,0,0.2));
  background-color: $white;
  height: 50px;
  width: 100%;
  div {
    padding-top: 12px;
    height: 50px;
  }
}

.header_layout {
  // position: fiexd;
}
