@import "../setting";

.loader_component {
  background-color: $asana-orange;
  .loading_title {
    color: $white;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin: 175px auto 0;
    text-align: center;
  }
}
.loader_layout {
}

// $spin-color2: $asana-orange;
$spin-color1: $asana-light-blue;
// $spin-color3: $asana-purple;
$spin-color2: $asana-light-blue;
$spin-color3: $asana-light-blue;
@mixin circle-loader(){
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0 auto;
  top: 120px;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em $spin-color1, 0 -0.83em 0 -0.42em $spin-color2, 0 -0.83em 0 -0.44em $spin-color3, 0 -0.83em 0 -0.46em $spin-color1, 0 -0.83em 0 -0.477em $spin-color2;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em $spin-color1, 0 -0.83em 0 -0.42em $spin-color2, 0 -0.83em 0 -0.44em $spin-color3, 0 -0.83em 0 -0.46em $spin-color1, 0 -0.83em 0 -0.477em $spin-color2;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em $spin-color1, -0.087em -0.825em 0 -0.42em $spin-color2, -0.173em -0.812em 0 -0.44em $spin-color3, -0.256em -0.789em 0 -0.46em $spin-color1, -0.297em -0.775em 0 -0.477em $spin-color2;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em $spin-color1, -0.338em -0.758em 0 -0.42em $spin-color2, -0.555em -0.617em 0 -0.44em $spin-color3, -0.671em -0.488em 0 -0.46em $spin-color1, -0.749em -0.34em 0 -0.477em $spin-color2;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em $spin-color1, -0.377em -0.74em 0 -0.42em $spin-color2, -0.645em -0.522em 0 -0.44em $spin-color3, -0.775em -0.297em 0 -0.46em $spin-color1, -0.82em -0.09em 0 -0.477em $spin-color2;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em $spin-color1, 0 -0.83em 0 -0.42em $spin-color2, 0 -0.83em 0 -0.44em $spin-color3, 0 -0.83em 0 -0.46em $spin-color1, 0 -0.83em 0 -0.477em $spin-color2;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em $spin-color1, 0 -0.83em 0 -0.42em $spin-color2, 0 -0.83em 0 -0.44em $spin-color3, 0 -0.83em 0 -0.46em $spin-color1, 0 -0.83em 0 -0.477em $spin-color2;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em $spin-color1, 0 -0.83em 0 -0.42em $spin-color2, 0 -0.83em 0 -0.44em $spin-color3, 0 -0.83em 0 -0.46em $spin-color1, 0 -0.83em 0 -0.477em $spin-color2;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em $spin-color1, -0.087em -0.825em 0 -0.42em $spin-color2, -0.173em -0.812em 0 -0.44em $spin-color3, -0.256em -0.789em 0 -0.46em $spin-color1, -0.297em -0.775em 0 -0.477em $spin-color2;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em $spin-color1, -0.338em -0.758em 0 -0.42em $spin-color2, -0.555em -0.617em 0 -0.44em $spin-color3, -0.671em -0.488em 0 -0.46em $spin-color1, -0.749em -0.34em 0 -0.477em $spin-color2;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em $spin-color1, -0.377em -0.74em 0 -0.42em $spin-color2, -0.645em -0.522em 0 -0.44em $spin-color3, -0.775em -0.297em 0 -0.46em $spin-color1, -0.82em -0.09em 0 -0.477em $spin-color2;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em $spin-color1, 0 -0.83em 0 -0.42em $spin-color2, 0 -0.83em 0 -0.44em $spin-color3, 0 -0.83em 0 -0.46em $spin-color1, 0 -0.83em 0 -0.477em $spin-color2;
  }
}

.circle-loader {
  @include circle-loader();
}
