
.member_component {
  background-color: white;
  .card {
    padding: 13px 10px;
    .thumbnail {
      float: left;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      margin-right: 8px;
    }
    .email {
      float: left;
    }
    .name {
      float: left;
    }
  }
}
.member_layout {

}
