@import "../sprite";
@import "../setting";

@mixin zendesk_image(){
  background-image: url($sprite-navigation-zendesk-image);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  cursor: pointer;
  display: block;
  margin: 15px 0 20px 18px;
  outline: none;
}
.navigation_bar_component {
  background-color: $intercom-background;
  .home_icon {
    @include zendesk_image();
    background-position: 0 -120px;
  }
  .member_icon {
    @include zendesk_image();
    background-position: 0 -480px;
  }
  .activity_icon {
    @include zendesk_image();
    background-position: 0 -192px;
  }
  .reporting_icon {
    @include zendesk_image();
    background-position: 0 -312px;
  }
  .setting_icon {
    @include zendesk_image();
    background-position: 0 -48px;
  }
}
.navigation_bar_layout {
  position: absolute;
  width: 60px;
  top: 52px;
  bottom: 0;

  .top_icons {
    margin-top: 24px;
  }
  .bottom_icons {
    position: fixed;
    bottom: 0;
    width: inherit;
  }
  .setting_icon {
    margin-bottom: 24px;
  }
}
