@import "../setting";
.page_container_component {

  // タブ
  .myTab {
    background-color: $asana-dark-blue!important;
    background-image: none!important;
    border-top: 1px solid $asana-orange;
    border-left: 1px solid $asana-orange;
    border-right: 1px solid $asana-orange;
    .myTabBefore {
      width: 0!important;
      height: 0!important;
    }
    .myTabAfter {
      width: 0!important;
      height: 0!important;
      // height: 0;
    }
  }
  .myTabBarAfter {
    width: 0!important;
    height: 0!important;
  }
}

.page_container_layout {
  bottom: 26px;
  position: relative;
}
