<!DOCTYPE html>
<html ng-app ="qolony">
<head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="keywords" content="QOLONY, コロニー, qolony, クイズ, 診断, キュレーション, まとめ, 動画, 画像">
    <meta name="description" content="QOLONY（コロニー）はスキマ時間も休日も、「面白さ」＋「遊び心」をあなたに届けます。クイズや診断をみんなでシェアする、読み物を超えたエンタメマガジンです">
    <link rel="shortcut icon" href="https://s3-ap-northeast-1.amazonaws.com/qolony/images/service/favicon32.png" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag    "admin/application" %>
    <%= javascript_include_tag "admin/application" %>
    <%= csrf_meta_tags %>


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <section id="container" >
  <!--header start-->
  <header class="header fixed-top clearfix">
  <!--logo start-->
  <div class="brand">
      <div class="sidebar-toggle-box">
          <div class="fa fa-bars"></div>
      </div>
  </div>
  <!--logo end-->

  <div class="nav notify-row" id="top_menu">
      <!--  notification start -->
      <ul class="nav top-menu">
      </ul>
      <!--  notification end -->
  </div>
  <div class="top-nav clearfix">
      <!--search & user info start-->
      <ul class="nav pull-right top-menu">
          <li>
              <input type="text" class="form-control search" placeholder="検索まだできないよ">
          </li>
          <!-- user login dropdown start-->
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <img alt="" src="https://pbs.twimg.com/profile_images/378800000671725557/d1328b6b332c670047e35e064a36992a_normal.jpeg">
                  <span class="username"><%= current_user.email %></span>
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu extended logout">
                  <!-- <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li> -->
                  <!-- <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li> -->
                  <li>
                    <%= link_to logout_path do %>
                      <i class="fa fa-key"></i> Log Out</a>
                    <% end %>
                  </li>

              </ul>
          </li>
          <!-- user login dropdown end -->
      </ul>
      <!--search & user info end-->
  </div>
  </header>
  <!--header end-->
  <aside>
      <div id="sidebar" class="nav-collapse">
          <!-- sidebar menu start-->            <div class="leftside-navigation">
              <ul class="sidebar-menu" id="nav-accordion">
            <% if current_user.admin? || current_user.editor? %>
              <li class="sub-menu">
                <a href="javascript:;">
                  <i class="fa fa-bullhorn"></i>
                  <span>記事一覧</span>
                </a>
                <ul class="sub">
                  <li><%= link_to "記事案", draft_admin_articles_path %></li>
                  <li><%= link_to "画像挿入待ち記事", without_image_admin_articles_path %></li>
                  <li><%= link_to "予約投稿記事", future_admin_articles_path %></li>
                  <li><%= link_to "完成済み", completion_admin_articles_path %></li>
                  <li><%= link_to "公開記事", publish_admin_articles_path %></li>
                </ul>
              </li>
              <li>
                <%= link_to admin_lists_path do %>
                  <i class="fa fa-tasks"></i>
                  <span>記事案リスト管理</span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_users_path do %>
                  <i class="fa fa-user"></i>
                  <span>ライター一覧</span>
                <% end %>
              </li>
            <% end %>
              <li>
                <%= link_to user_admin_articles_path(user_id: current_user.id) do %>
                  <i class="fa fa-tasks"></i>
                  <span>あなたの記事一覧</span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_youtubes_path do %>
                  <i class="fa fa-bullhorn"></i>
                  <span>Youtube動画投稿</span>
                <% end %>
              </li>
              <li>
                <%= link_to idea_admin_lists_path do %>
                  <i class="fa fa-th"></i>
                  <span>記事案リスト</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_admin_article_path do %>
                  <i class="fa fa-plus"></i>
                  <span>記事を書く</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_admin_video_path do %>
                  <i class="fa fa-plus"></i>
                  <span>動画を投稿</span>
                <% end %>
              </li>
          </ul></div>
  <!-- sidebar menu end-->
      </div>
  </aside>
<!--sidebar end-->

<!--main content start-->
  <section id="main-content">
    <section class="wrapper">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
        <%= yield %>
    </section>
  </section>
<!--main content end-->

  </section>
</body>


</html>
