<!DOCTYPE html>
<html data-env="<%= Rails.env %>">
  <link href='http://fonts.googleapis.com/css?family=Quicksand:700' id='gwebfont' type='text/css'>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- <meta name="viewport" content="width=device-width"> -->
  <title><%= full_title(yield(:title)) %></title>
  <meta name="keywords" content="QOLONY, コロニー, qolony, クイズ, 診断, キュレーション, まとめ, 動画, 画像">
  <meta name="description" content="<%= full_description(yield(:description)) %>">
  <link rel="shortcut icon" href="https://s3-ap-northeast-1.amazonaws.com/qolony/images/service/favicon32.png" >

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@qolony0">
  <meta name="twitter:creator" content="@qolony0">
  <meta name="twitter:title" content="<%= full_title(yield(:title)) %>">
  <meta name="twitter:description" content="<%= full_description(yield(:description)) %>">
  <meta name="twitter:image" content="<%= og_image(yield(:image)) %>">

  <meta property="fb:app_id" content="465680123608785">
  <meta property="fb:admins" content="100004127621540" />

  <meta property="og:title" content="<%= full_title(yield(:title)) %>">
  <meta property="og:description" content="<%= full_description(yield(:description)) %>">
  <meta property="og:url" content="<%= og_url(yield(:url)) %>">
  <meta property="og:image" content="<%= og_image(yield(:image)) %>">
  <meta property="og:site_name" content="qolony">


  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://media.twiliocdn.com/taskrouter/js/v1.1.1/taskrouter.min.js"></script>
</head>
<body class="<%= params[:controller] %>">
  <div id="container" class="max_height">
    <div id="root" class="max_height"></div>
    <%= yield %>
  </div>

  <%= include_gon %>
  <%= javascript_include_tag "client/app/application" %>
</body>
</html>
