<!DOCTYPE html>
<html data-env="<%= Rails.env %>" data-domless="<%= javascript_url "worker/application" %>">
  <link href='http://fonts.googleapis.com/css?family=Quicksand:700' id='gwebfont' type='text/css'>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- <meta name="viewport" content="width=device-width"> -->
  <title><%= full_title(yield(:title)) %></title>
  <meta name="keywords" content="QOLONY, コロニー, qolony, クイズ, 診断, キュレーション, まとめ, 動画, 画像">
  <meta name="description" content="<%= full_description(yield(:description)) %>">
  <link rel="shortcut icon" href="https://s3-ap-northeast-1.amazonaws.com/qolony/images/service/favicon32.png" >

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@qolony0">
  <meta name="twitter:creator" content="@qolony0">
  <meta name="twitter:title" content="<%= full_title(yield(:title)) %>">
  <meta name="twitter:description" content="<%= full_description(yield(:description)) %>">
  <meta name="twitter:image" content="<%= og_image(yield(:image)) %>">

  <meta property="fb:app_id" content="465680123608785">
  <meta property="fb:admins" content="100004127621540" />

  <meta property="og:title" content="<%= full_title(yield(:title)) %>">
  <meta property="og:description" content="<%= full_description(yield(:description)) %>">
  <meta property="og:url" content="<%= og_url(yield(:url)) %>">
  <meta property="og:image" content="<%= og_image(yield(:image)) %>">
  <meta property="og:site_name" content="QOLONY">


  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag "debug/application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
  <div id="container">
    <div id="qolony-client"></div>
    <div id="fb-root"></div>
    <%= yield %>
  </div>

  <%= include_gon %>
  <%= javascript_include_tag "application" %>
  <script>
    (function () {
      var media = window.matchMedia("(min-width: 769px)")
      if(media.matches) {
        var webfonts = document.getElementById('gwebfont');
        webfonts.rel = "stylesheet";
      }
    })();

  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64819776-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
