<!DOCTYPE html>
<html data-env="<%= Rails.env %>" data-domless="<%= worker_url "worker/application" %>">
  <link href='http://fonts.googleapis.com/css?family=Quicksand:700' id='gwebfont' type='text/css'>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- <meta name="viewport" content="width=device-width"> -->
  <title><%= full_title(yield(:title)) %></title>
  <meta name="keywords" content="QOLONY, コロニー, qolony, クイズ, 診断, キュレーション, まとめ, 動画, 画像">
  <meta name="description" content="<%= full_description(yield(:description)) %>">
  <link rel="shortcut icon" href="https://s3-ap-northeast-1.amazonaws.com/qolony/images/service/favicon32.png" >


  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
  <div id="container" class="max_height">
    <%= yield %>
  </div>

  <%= javascript_include_tag "admin/application" %>
</body>
</html>
